<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Burn on Read Service</title>
    <link rel="stylesheet" href="./css/styles.css" />
  </head>
  <body>
    <h1>Here is your link</h1>
    <article>
        
       {% block content %}
      <p>
        the link to your message is
        <a href="{{generatedLink}}">{{generatedLink}}</a><br />
        The message will be destroyed upon opening the link.
      </p> 
      {% endblock %}
    </article>
  </body>
</html>
